// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/_functions.scss";

// // 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";

// // 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/_reboot.scss";
@import "../node_modules/bootstrap/scss/_utilities.scss";
@import "../node_modules/bootstrap/scss/vendor/_rfs.scss";


@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap');

$font-special:'Bai Jamjuree',
sans-serif;
$font-normal:'Sarabun',
sans-serif;

$fs-p:1.5rem;


$fs-display-mq: calc(2.3rem + .5vw) !important;
$fs-h1-mq:calc(1.8rem + 0.5vw) !important;
$fs-h2-mq:calc(1.3rem + 0.5vw) !important;
$fs-p-mq: calc(1.1rem + 0.5vw) !important;
$fs-s-mq: calc(1rem + 0.3vw) !important;


$purple-dark: #463A48;
$purple-middle: #95549E;
$purple-light: #D5C5D8;
$pink-light: #EBC3DB;
$gray-light: #ECECEC;
$yellow-light: #fff4d9;
$yellow-hover: #f1b500;
$yellow-dark: #88670d;
$green-light: #96d780;
$green-dark: #7bcf5f;
// yellow for btn : $yellow-400;
// dark gray : $gray-600;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin hero-bg($img) {
  background: linear-gradient(hsla(291, 11%, 25%, 0.7), hsla(291, 11%, 25%, 0.9)), url($img) center/ cover repeat;
}

@mixin custom-btn($color, $color-hover, $text-color-hover:#212529) {
  display: block;
  background: $color;
  @include padding-top(0.3rem);
  @include padding-bottom(0.3rem);
  @include padding-left(1rem);
  @include padding-right(1rem);
  @include font-size(1.5rem);
  border-radius: 4px;
  margin: auto;
  @include font-size(1.4rem);
  text-decoration: none;
  color: #212529;
  text-align: center;

  &:hover {
    background: $color-hover;
    color: $text-color-hover;
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}