@import "shared";

// #NAVBAR-----------------

nav {

  background: $light;
  top: 0;
  width: 100%;
  z-index: 100;


  li a {
    font-family: $font-normal;
    font-size: $fs-p;
    color: $secondary !important;

    &:hover {
      color: $gray-800 !important;
    }
  }
}

.logo {
  @include flex(row, flex-start, center);
  font-family: $font-special;
  font-weight: 600;
  user-select: none;
  color: #776E20 !important;
  text-decoration: none !important;

  img {
    width: 40px;
    margin-right: 0.5rem;
  }

  p {
    font-family: $font-special;
    @include font-size(1.5rem);
    text-align: center;
    margin-bottom: 0px !important;
    color: #777458 !important;
    font-weight: 400;
  }
}

// #MAIN

body {
  background: url("../img/pikul-white.png")repeat, $purple-light;
}

main {
  min-height: 100vh;
  max-width: 1100px;
  margin: auto;
  // background: red;
  background: $light;
  margin-top: 60px;
}

.hero {
  height: 250px;
  text-align: center;
  color: $light;
  font-family: $font-special;
  user-select: none;


  .hero-texts {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  h1 {
    display: block;

  }

  h2 {
    margin-top: $spacer*1;
  }
}

.contents {
  @include padding-top(3rem);
  @include padding-bottom(3rem);
  @include padding-left(5rem);
  @include padding-right(5rem);
  font-family: $font-normal;
  min-height: 300px;

  h1 {
    @include font-size(2rem);
    font-weight: 700;
    @include margin-bottom(1rem);
  }

  p {
    @include font-size(1.5rem);
  }
}

.btn-green {
  @include custom-btn($green-light, $green-dark);
}



// #FOOTER---------------
footer {
  background: $purple-dark;
  color: white;
  min-height: 150px;
  font-family: $font-normal;

  h3 {
    @include font-size(1.5rem);
    text-align: center;
    @include padding-bottom(1rem);
    border-bottom: solid 0.5px $yellow;
  }

  li {
    list-style-type: disc;
    @include font-size(1.4rem);

    a {
      color: $light !important;
			text-decoration: none !important;

      &:hover {
        color: #e0e0e0 !important;
      }
    }

  }

}

// #--------------

@media (max-width: 500px) {
  iframe.pdf {
    width: 100%;
    height: 400px;
    display: block;
    margin: auto;
    @include margin-top(3rem);
  }
}